  <connectionStrings><add name="FlextechDatabaseContext" connectionString="metadata=res://*/Models.flex-tech-data-model.csdl|res://*/Models.flex-tech-data-model.ssdl|res://*/Models.flex-tech-data-model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=flextech.database.windows.net;initial catalog=shopsnap-database;user id=flextech_admin;password=shopSNAP123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
